* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    background: #1B1C1C;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/* <-- Background colour. */
.load {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.loading {
    display: inline-block;
    width: 5px;
    height: 20px;
    border-radius: 6px;
    margin-right: 10px;
    animation: loading 2s ease-in-out infinite;
}

/*.loading:nth-child(1) {
    background-color: #edd729;
    animation-delay: 0;

.loading:nth-child(2) {
    background-color: #67bc47;
    animation-delay: .15s;
}

.loading:nth-child(3) {
    background-color: #4a57a6;
    animation-delay: .30s;
}

.loading:nth-child(4) {
    background-color: #ff4d4f;
    animation-delay: .45s;
}

}*/
/*------- backup --------*/


.loading:nth-child(1) {
    background-color: #ff4d4f;
    /* red */
    animation-delay: 0.05s;
}

.loading:nth-child(2) {
    background-color: #f57f28;
    /* orange */
    animation-delay: .10s;
}

.loading:nth-child(3) {
    background-color: #edd729;
    /* yellow */
    animation-delay: .20s;
}

.loading:nth-child(4) {
    background-color: #67bc47;
    /* green */
    animation-delay: .30s;
}

.loading:nth-child(5) {
    background-color: #64c9d3;
    /* light blue */
    animation-delay: .40s;
}

.loading:nth-child(6) {
    background-color: #4a57a6;
    /* blue */
    animation-delay: .50s;
}


.loading:nth-child(7) {
    background-color: #ff4d4f;
    /* red */
    animation-delay: 0.60s;
}


.loading:nth-child(8) {
    background-color: #4a57a6;
    /* blue */
    animation-delay: .50s;
}

.loading:nth-child(9) {
    background-color: #64c9d3;
    /* light blue */
    animation-delay: .40s;
}

.loading:nth-child(10) {
    background-color: #67bc47;
    /* green */
    animation-delay: .30s;
}

.loading:nth-child(11) {
    background-color: #edd729;
    /* yellow */
    animation-delay: .20s;
}

.loading:nth-child(12) {
    background-color: #f57f28;
    /* orange */
    animation-delay: .10s;
}

.loading:nth-child(13) {
    background-color: #ff4d4f;
    /* red */
    animation-delay: .05s;
}


@keyframes loading {
    0% {
        transform: scale(0.0);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(0.0);
    }
}
